/* sc-component-id: sc-15za8y8-0 */
.klRlEw {
    text-transform: initial;
  }
  .kIMOVE {
    color: #ffffff;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
  }
  .ifHIOp {
    color: #ffffff;
    width: 100%;
    text-align: left;
    line-height: 1.4;
  }
  .hCrMFm {
    color: #2270f7;
    text-align: center;
    font-weight: 800;
    width: 100%;
    margin-top: 20px;
  }
  .feCgyO {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    width: 100%;
    margin-bottom: 0;
    margin-top: 20px;
  }
  .dmpVlF {
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
  }
  .bvpTKw {
    color: #ffffff;
    text-align: center;
    width: 100%;
    padding-top: 20px;
  }
  .iLnTln {
    color: #2270f7;
    font-size: 54px;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
  }
  .cvVgRe {
    color: #ffffff;
    margin-top: 20px;
    text-align: left;
    line-height: 1.4;
  }
  .htQiTM {
    color: #2270f7;
    text-align: center;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  .dIplIl {
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .lbDxhS {
    margin-top: 20px;
    color: #ffffff;
    text-align: left;
    line-height: 1.4;
  }
  .gSbgXq {
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
  }
  .iMLNJj {
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 1.4;
  }
  .ktSziJ {
    color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
  }
  .isxowu {
    color: #ffffff;
    width: 100%;
    max-width: 700px;
    margin: 0 auto 50px auto;
    text-align: center;
    text-align: center;
  }
  @media only screen and (max-width: 024px) {
    .isxowu {
      max-width: 100%;
    }
  }
  @media only screen and (max-width: 992px) {
    .isxowu {
      margin-bottom: 40px;
    }
  }
  .dwKQWc {
    color: #2270f7;
    text-align: center;
    margin-bottom: 0;
  }
  .dwKQWc + p,
  .dwKQWc + a {
    margin-top: 20px;
  }
  .fcEIaE {
    color: #ffffff;
    text-align: center;
    width: 100%;
    font-weight: 500;
    margin-bottom: 6px;
  }
  .liYurw {
    position: relative;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
  }
  @media only screen and (min-width: 801px) {
  }